@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	@apply overflow-y-scroll;
}

body {
	@apply bg-neutral-50 text-stone-900 dark:bg-stone-900 dark:text-neutral-200;
	@apply font-sans text-base font-normal;
}

*:focus-visible {
	@apply outline-none outline-2 outline-stone-900 dark:outline-stone-100;
}

*::selection {
	@apply bg-rose-300 dark:bg-rose-800;
}

@font-face {
	font-family: 'Geist';
	font-display: swap;
	src:
		local('Geist'),
		url(/font/Geist.woff2) format('woff2');
}

@font-face {
	font-family: 'JetBrains Mono';
	font-display: swap;
	src:
		local('JetBrains Mono'),
		url(/font/JetBrainsMono.woff2) format('woff2');
}
